{
  "openapi": "3.1.0",
  "info": {
    "title": "Cloud Mail REST API",
    "version": "2.0.0",
    "description": "Cloud Mail REST API。用户 Key 与管理员 Key 分开管理，并分别受用户 REST API 和管理员 REST API 开关控制。"
  },
  "servers": [
    {
      "url": "https://mail.airoute.kdns.fr/api/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/me": {
      "get": {
        "summary": "获取当前用户",
        "description": "返回 API Key 所属用户的基本信息。 只能访问 API Key 所属用户自己的资源。",
        "operationId": "get_me",
        "parameters": [],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "curl",
            "source": "curl --request GET \\\n  --url \"https://mail.airoute.kdns.fr/api/v1/me\" \\\n  --header \"Authorization: Bearer YOUR_API_KEY\""
          }
        ]
      }
    },
    "/accounts": {
      "get": {
        "summary": "查询邮箱账号",
        "description": "查询主账号和子账号。使用游标分页。 只能访问 API Key 所属用户自己的资源。",
        "operationId": "get_accounts",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "上一页返回的 nextCursor；第一页省略。",
            "schema": {
              "type": "integer"
            },
            "example": 123
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "每页数量，1-50，默认 20。",
            "schema": {
              "type": "integer"
            },
            "example": 20
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "curl",
            "source": "curl --request GET \\\n  --url \"https://mail.airoute.kdns.fr/api/v1/accounts?limit=20\" \\\n  --header \"Authorization: Bearer YOUR_API_KEY\""
          }
        ]
      },
      "post": {
        "summary": "批量创建子邮箱",
        "description": "请求体可直接传数组，也可传 {emails:[...]}；每次 1-50 个。已被当前用户删除的子邮箱可用相同地址重新添加，恢复原 accountId，并可通过 name 指定显示名称；其他用户删除的地址不可抢占。响应统一返回 items 数组。只能访问 API Key 所属用户自己的资源。",
        "operationId": "post_accounts",
        "parameters": [],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "201": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "curl",
            "source": "curl --request POST \\\n  --url \"https://mail.airoute.kdns.fr/api/v1/accounts\" \\\n  --header \"Authorization: Bearer YOUR_API_KEY\" \\\n  --header \"Content-Type: application/json\" \\\n  --data '[\"batch-one@mail.airoute.kdns.fr\",{\"email\":\"batch-two@mail.airoute.kdns.fr\",\"name\":\"Batch Two\"}]'"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 50,
                    "items": {
                      "oneOf": [
                        {
                          "type": "string",
                          "format": "email"
                        },
                        {
                          "type": "object",
                          "required": [
                            "email"
                          ],
                          "properties": {
                            "email": {
                              "type": "string",
                              "format": "email"
                            },
                            "name": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 30
                            }
                          }
                        }
                      ]
                    }
                  },
                  {
                    "type": "object",
                    "properties": {
                      "emails": {
                        "type": "array",
                        "minItems": 1,
                        "maxItems": 50
                      }
                    }
                  }
                ]
              },
              "example": [
                "batch-one@mail.airoute.kdns.fr",
                {
                  "email": "batch-two@mail.airoute.kdns.fr",
                  "name": "Batch Two"
                }
              ]
            }
          }
        }
      }
    },
    "/accounts/{accountId}": {
      "patch": {
        "summary": "修改邮箱账号",
        "description": "name 会立即修改本人有效邮箱账号的显示名称（去除首尾空格，最长 30 个字符）；后续新邮件仍归属同一 accountId，并可用新名称筛选。allReceive 为 0/1，用于设置聚合收件账号。只能访问 API Key 所属用户自己的资源。",
        "operationId": "patch_accounts_accountId",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "本人邮箱账号 ID。",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "example": 2
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "curl",
            "source": "curl --request PATCH \\\n  --url \"https://mail.airoute.kdns.fr/api/v1/accounts/2\" \\\n  --header \"Authorization: Bearer YOUR_API_KEY\" \\\n  --header \"Content-Type: application/json\" \\\n  --data '{\"name\":\"Automation\",\"allReceive\":0}'"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "minProperties": 1,
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 30
                  },
                  "allReceive": {
                    "type": "integer",
                    "enum": [
                      0,
                      1
                    ]
                  }
                }
              },
              "example": {
                "name": "Automation",
                "allReceive": 0
              }
            }
          }
        }
      },
      "delete": {
        "summary": "删除子邮箱账号",
        "description": "软删除本人子邮箱账号并关闭聚合收件；主账号不能删除。删除后可由原所有者通过 POST /accounts 使用相同邮箱地址恢复，历史邮件状态不变，新邮件可继续接收。只能访问 API Key 所属用户自己的资源。",
        "operationId": "delete_accounts_accountId",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "本人子邮箱账号 ID。",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "example": 2
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "curl",
            "source": "curl --request DELETE \\\n  --url \"https://mail.airoute.kdns.fr/api/v1/accounts/2\" \\\n  --header \"Authorization: Bearer YOUR_API_KEY\""
          }
        ]
      }
    },
    "/emails": {
      "get": {
        "summary": "筛选邮件",
        "description": "支持按时间、主/子账号 ID、账号名称或完整邮箱筛选。 只能访问 API Key 所属用户自己的资源。",
        "operationId": "get_emails",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "上一页返回的 nextCursor（emailId）。",
            "schema": {
              "type": "integer"
            },
            "example": 999999
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "每页数量，1-50，默认 20。",
            "schema": {
              "type": "integer"
            },
            "example": 20
          },
          {
            "name": "accountId",
            "in": "query",
            "required": false,
            "description": "主账号或子账号 ID。",
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "accountName",
            "in": "query",
            "required": false,
            "description": "账号显示名或完整邮箱；与 accountId 二选一。",
            "schema": {
              "type": "string"
            },
            "example": "admin"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "0=收件，1=发件。",
            "schema": {
              "type": "integer"
            },
            "example": 0
          },
          {
            "name": "unread",
            "in": "query",
            "required": false,
            "description": "0=未读，1=已读。",
            "schema": {
              "type": "integer"
            },
            "example": 0
          },
          {
            "name": "startTime",
            "in": "query",
            "required": false,
            "description": "起始时间（含），格式 YYYY-MM-DD HH:mm:ss。",
            "schema": {
              "type": "string"
            },
            "example": "2026-08-01 00:00:00"
          },
          {
            "name": "endTime",
            "in": "query",
            "required": false,
            "description": "结束时间（含），格式 YYYY-MM-DD HH:mm:ss。",
            "schema": {
              "type": "string"
            },
            "example": "2026-08-31 23:59:59"
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "curl",
            "source": "curl --request GET \\\n  --url \"https://mail.airoute.kdns.fr/api/v1/emails?cursor=999999&limit=20&accountName=admin&type=0&unread=0&startTime=2026-08-01+00%3A00%3A00&endTime=2026-08-31+23%3A59%3A59\" \\\n  --header \"Authorization: Bearer YOUR_API_KEY\""
          }
        ]
      },
      "delete": {
        "summary": "批量删除邮件",
        "description": "一次软删除 1-100 封本人邮件；不属于当前用户的 ID 会被忽略。 只能访问 API Key 所属用户自己的资源。",
        "operationId": "delete_emails",
        "parameters": [],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "curl",
            "source": "curl --request DELETE \\\n  --url \"https://mail.airoute.kdns.fr/api/v1/emails\" \\\n  --header \"Authorization: Bearer YOUR_API_KEY\" \\\n  --header \"Content-Type: application/json\" \\\n  --data '{\"emailIds\":[123,124,125]}'"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": [
                  "object",
                  "array"
                ]
              },
              "example": {
                "emailIds": [
                  123,
                  124,
                  125
                ]
              }
            }
          }
        }
      }
    },
    "/emails/{emailId}": {
      "get": {
        "summary": "读取邮件详情",
        "description": "返回邮件正文、收件人、抄送、密送和附件数量。 只能访问 API Key 所属用户自己的资源。",
        "operationId": "get_emails_emailId",
        "parameters": [
          {
            "name": "emailId",
            "in": "path",
            "required": true,
            "description": "本人邮件 ID。",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "example": 123
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "curl",
            "source": "curl --request GET \\\n  --url \"https://mail.airoute.kdns.fr/api/v1/emails/123\" \\\n  --header \"Authorization: Bearer YOUR_API_KEY\""
          }
        ]
      },
      "delete": {
        "summary": "删除单封邮件",
        "description": "软删除本人单封邮件。 只能访问 API Key 所属用户自己的资源。",
        "operationId": "delete_emails_emailId",
        "parameters": [
          {
            "name": "emailId",
            "in": "path",
            "required": true,
            "description": "本人邮件 ID。",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "example": 123
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "curl",
            "source": "curl --request DELETE \\\n  --url \"https://mail.airoute.kdns.fr/api/v1/emails/123\" \\\n  --header \"Authorization: Bearer YOUR_API_KEY\""
          }
        ]
      }
    },
    "/emails/{emailId}/read": {
      "patch": {
        "summary": "标记已读",
        "description": "把本人邮件标记为已读。 只能访问 API Key 所属用户自己的资源。",
        "operationId": "patch_emails_emailId_read",
        "parameters": [
          {
            "name": "emailId",
            "in": "path",
            "required": true,
            "description": "本人邮件 ID。",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "example": 123
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "curl",
            "source": "curl --request PATCH \\\n  --url \"https://mail.airoute.kdns.fr/api/v1/emails/123/read\" \\\n  --header \"Authorization: Bearer YOUR_API_KEY\""
          }
        ]
      }
    },
    "/emails/{emailId}/attachments": {
      "get": {
        "summary": "查询附件",
        "description": "返回本人邮件的附件元数据，不返回文件内容。 只能访问 API Key 所属用户自己的资源。",
        "operationId": "get_emails_emailId_attachments",
        "parameters": [
          {
            "name": "emailId",
            "in": "path",
            "required": true,
            "description": "本人邮件 ID。",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "example": 123
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "curl",
            "source": "curl --request GET \\\n  --url \"https://mail.airoute.kdns.fr/api/v1/emails/123/attachments\" \\\n  --header \"Authorization: Bearer YOUR_API_KEY\""
          }
        ]
      }
    },
    "/emails/{emailId}/attachments/{attachmentId}": {
      "get": {
        "summary": "下载附件",
        "description": "所有权验证后下载附件，响应使用 private,no-store。 只能访问 API Key 所属用户自己的资源。",
        "operationId": "get_emails_emailId_attachments_attachmentId",
        "parameters": [
          {
            "name": "emailId",
            "in": "path",
            "required": true,
            "description": "本人邮件 ID。",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "example": 123
          },
          {
            "name": "attachmentId",
            "in": "path",
            "required": true,
            "description": "该邮件中的附件 ID。",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "example": 9
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "curl",
            "source": "curl --request GET \\\n  --url \"https://mail.airoute.kdns.fr/api/v1/emails/123/attachments/9\" \\\n  --header \"Authorization: Bearer YOUR_API_KEY\""
          }
        ]
      }
    },
    "/admin/users": {
      "get": {
        "summary": "管理员查询用户",
        "description": "查询全部或指定用户。 必须使用管理员专用 API Key。",
        "operationId": "get_admin_users",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "返回数量，1-100。",
            "schema": {
              "type": "integer"
            },
            "example": 50
          },
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "description": "精确用户 ID。",
            "schema": {
              "type": "integer"
            },
            "example": 2
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "description": "邮箱模糊搜索。",
            "schema": {
              "type": "string"
            },
            "example": "user@"
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "curl",
            "source": "curl --request GET \\\n  --url \"https://mail.airoute.kdns.fr/api/v1/admin/users?limit=50&email=user%40\" \\\n  --header \"Authorization: Bearer YOUR_API_KEY\""
          }
        ]
      },
      "post": {
        "summary": "管理员新增用户",
        "description": "创建用户及其主邮箱账号。type 为角色 ID，password 至少 6 位。 必须使用管理员专用 API Key。",
        "operationId": "post_admin_users",
        "parameters": [],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "201": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "curl",
            "source": "curl --request POST \\\n  --url \"https://mail.airoute.kdns.fr/api/v1/admin/users\" \\\n  --header \"Authorization: Bearer YOUR_API_KEY\" \\\n  --header \"Content-Type: application/json\" \\\n  --data '{\"email\":\"new@mail.airoute.kdns.fr\",\"type\":1,\"password\":\"ChangeMe123!\"}'"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": [
                  "object",
                  "array"
                ]
              },
              "example": {
                "email": "new@mail.airoute.kdns.fr",
                "type": 1,
                "password": "ChangeMe123!"
              }
            }
          }
        }
      }
    },
    "/admin/users/{userId}": {
      "delete": {
        "summary": "管理员删除用户",
        "description": "物理删除指定用户、账号、邮件、附件元数据、会话和 Key；超级管理员不能删除。 必须使用管理员专用 API Key。",
        "operationId": "delete_admin_users_userId",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "待删除用户 ID。",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "example": 2
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "curl",
            "source": "curl --request DELETE \\\n  --url \"https://mail.airoute.kdns.fr/api/v1/admin/users/2\" \\\n  --header \"Authorization: Bearer YOUR_API_KEY\""
          }
        ]
      }
    },
    "/admin/users/{userId}/account-limit": {
      "patch": {
        "summary": "设置用户账号数量",
        "description": "accountLimit=-1 沿用角色默认，0 不限，正整数为该用户最大邮箱账号数。 必须使用管理员专用 API Key。",
        "operationId": "patch_admin_users_userId_account_limit",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "用户 ID。",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "example": 2
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "curl",
            "source": "curl --request PATCH \\\n  --url \"https://mail.airoute.kdns.fr/api/v1/admin/users/2/account-limit\" \\\n  --header \"Authorization: Bearer YOUR_API_KEY\" \\\n  --header \"Content-Type: application/json\" \\\n  --data '{\"accountLimit\":20}'"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": [
                  "object",
                  "array"
                ]
              },
              "example": {
                "accountLimit": 20
              }
            }
          }
        }
      }
    },
    "/admin/emails": {
      "get": {
        "summary": "管理员查询全站邮件",
        "description": "可查看全部邮件或按用户、账号和时间筛选。 必须使用管理员专用 API Key。",
        "operationId": "get_admin_emails",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "返回数量，1-100。",
            "schema": {
              "type": "integer"
            },
            "example": 50
          },
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "description": "用户 ID。",
            "schema": {
              "type": "integer"
            },
            "example": 2
          },
          {
            "name": "userEmail",
            "in": "query",
            "required": false,
            "description": "用户登录邮箱。",
            "schema": {
              "type": "string"
            },
            "example": "user@mail.airoute.kdns.fr"
          },
          {
            "name": "accountId",
            "in": "query",
            "required": false,
            "description": "邮箱账号 ID。",
            "schema": {
              "type": "integer"
            },
            "example": 3
          },
          {
            "name": "accountName",
            "in": "query",
            "required": false,
            "description": "账号名称或完整邮箱。",
            "schema": {
              "type": "string"
            },
            "example": "user@mail.airoute.kdns.fr"
          },
          {
            "name": "startTime",
            "in": "query",
            "required": false,
            "description": "起始时间（含）。",
            "schema": {
              "type": "string"
            },
            "example": "2026-08-01 00:00:00"
          },
          {
            "name": "endTime",
            "in": "query",
            "required": false,
            "description": "结束时间（含）。",
            "schema": {
              "type": "string"
            },
            "example": "2026-08-31 23:59:59"
          }
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "curl",
            "source": "curl --request GET \\\n  --url \"https://mail.airoute.kdns.fr/api/v1/admin/emails?limit=50&userEmail=user%40mail.airoute.kdns.fr&accountName=user%40mail.airoute.kdns.fr&startTime=2026-08-01+00%3A00%3A00&endTime=2026-08-31+23%3A59%3A59\" \\\n  --header \"Authorization: Bearer YOUR_API_KEY\""
          }
        ]
      }
    },
    "/admin/settings": {
      "patch": {
        "summary": "管理员修改 REST API/多号设置",
        "description": "只接受 0/1。restApiEnabled:0 开启用户 REST API，只控制用户 Key；adminRestApiEnabled:0 开启管理员 REST API，只控制管理员 Key；manyEmail:0 开启多号模式；addEmail:0 允许添加邮箱。两个 API 开关互不影响。必须使用管理员专用 API Key。",
        "operationId": "patch_admin_settings",
        "parameters": [],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "curl",
            "source": "curl --request PATCH \\\n  --url \"https://mail.airoute.kdns.fr/api/v1/admin/settings\" \\\n  --header \"Authorization: Bearer YOUR_API_KEY\" \\\n  --header \"Content-Type: application/json\" \\\n  --data '{\"restApiEnabled\":0,\"adminRestApiEnabled\":0,\"manyEmail\":0,\"addEmail\":0}'"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "minProperties": 1,
                "properties": {
                  "restApiEnabled": {
                    "type": "integer",
                    "enum": [
                      0,
                      1
                    ],
                    "description": "0=开启用户 REST API，1=关闭"
                  },
                  "adminRestApiEnabled": {
                    "type": "integer",
                    "enum": [
                      0,
                      1
                    ],
                    "description": "0=开启管理员 REST API，1=关闭"
                  },
                  "manyEmail": {
                    "type": "integer",
                    "enum": [
                      0,
                      1
                    ]
                  },
                  "addEmail": {
                    "type": "integer",
                    "enum": [
                      0,
                      1
                    ]
                  }
                }
              },
              "example": {
                "restApiEnabled": 0,
                "adminRestApiEnabled": 0,
                "manyEmail": 0,
                "addEmail": 0
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "cma_PUBLIC_ID_SECRET"
      }
    },
    "responses": {
      "BadRequest": {
        "description": "错误响应",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Unauthorized": {
        "description": "错误响应",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Forbidden": {
        "description": "错误响应",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "错误响应",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer"
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
